@media screen and (max-width: 1280px) {
  header .wrapper {
    display: flex;
    flex-direction: column;
  }

  header .logo {
    margin: auto;
  }

  nav {
    align-items: center;
    justify-content: space-around;
  }

  nav .menu {
    display: inline-block;
    position: static;
    text-align: center;
    margin: 10px auto;
  }

  .menu a {
    justify-content: space-around;
  }

  .icones {
    margin: 20px 30%;
    text-align: center;
  }

  .titulo,
  .descricao-filme,
  .botoes {
    align-items: center;
  }

  .descricao-filme {
    width: 60%;
  }

  .botao {
    margin-top: 5px;
    width: 300px;
  }
}
